* {
    box-sizing: border-box;
    margin: 0;
}

.big-box {
    height: 100px;


}

.inner-box {
    height: 100px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.right {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    gap: 30px;
}

.right a {
    text-decoration: none;
    font-size: 20px;


}

.left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.left span {
    font-size: 30px;
}

.left h1 {
    font-weight: 30;
}

.right .home {
    background-color: blue;
    border-radius: 7px;
    color: white;
    padding: 5px;
}